.table {
    position: relative;
    top: 10em;
    height: 10px;
}

.form {
    position: relative;

}

#BarraFiltro{
    position: relative;
    top: 6em;
    width: 40em;
    left: 15.8em;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    height: 57px;

}

