
#titulo{
    position: relative;
    text-align: center;
    top: 1em;
    right: 1.4em;

}

#form{
    width: 32em;
    position: relative;
    left: 22em;
    top: 3em;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
}

.datosFormulario{
    position: relative;
    left: 4em;
    width: 25em;
    top: 1em;
}


/*
#formulario{
    position: relative;
    text-align: center;
    right: 3em;
    font-family: Arial;
    font-size: 1m;
}

#form {
    position: relative;
    width: 32em;
    left: 25em;


    !*
    box-shadow: 10px 6px 25px -6px rgba(0,0,0,0.76);
    -webkit-box-shadow: 10px 6px 25px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 6px 25px -6px rgba(0,0,0,0.76);
    *!

}

.datosFormulario{
    position: relative;
    left: 4em;
    width: 25em;
    top: 1em;
}

.table {
    position: relative;
    top: 1em;
}
*/


/*@media (min-width:50em) and (max-width: 80em) {
    #formulario {
        position: relative;
        text-align: center;
        left: 2.91em;
        font-family: Arial;
        font-size: 2em;
    }
}*/

.btn:focus{
    outline: none;
    box-shadow: none;
}