
#tituloCurso{
    position: relative;
    text-align: center;
    top: 1em;
    right: 1.4em;

}

#formCurso{
    width: 32em;
    position: relative;
    left: 22em;
    top: 3em;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
}

.cursoFormulario{
    position: relative;
    left: 4em;
    width: 25em;
    top: 1em;
}
